<html>
<body>
<br><br><br>

<h2 align='center'>Online Test ADMIN PAGE 5.1</h2>

<br><br><br>
<div align='center' border=2>

<h2 align='center'>Get the list of student results </h2>

<table border=2 width=60%>
<tr><th>sl no</th><th>Technology</th><th>Student name</th><th>Tech marks</th><th>Aptitude marks</th><th>Reasoning marks</th><th>Total no of questions</th></tr>
<tr><td>1.</td><td>python </td><td>santhosh</td><td>15</td><td>10</td><td>10</td><td>60</td></tr>
<tr><td>2.</td><td>java </td><td>ram</td><td>16</td><td>20</td><td>9</td><td>60</td></tr>

</table>

<input type="submit" value="Print">



</div>

</body>
</html>
